.footer-container{
    display: flex;
    background: #011C3A;
    /* border: 2px solid black; */
    margin-top: 5%;
    justify-content: center !important;
}
.footer-inner-conatiner{
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-around;
}
.footer-container-subContainer1{
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    flex-basis: 20%;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70%;
}

.socialMedia-container{
    display: flex;
    justify-content: space-between;
}
.footer-container-subContainer1 li{
    list-style-type:none;
}
.input-container{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    max-width: 100%;
}
.input-container input{
   
    outline: none;
    background-color: #011C3A;
    border: none;

}
.input-container:hover{
    
    border: 1px solid white;

}